{% assign width = 'fs-lg-auto fs-md-auto fs-sm-third fs-sm-third' %}
<div class="product-ingredients">
  <div class="fs-row">
    <div class="fs-cell {{ width }} text-center">
      <img src="{{ 'leaf.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Vegan &amp;<br> Gluten Free</h4>
    </div>
    <div class="fs-cell {{ width }} text-center">
      <img src="{{ 'sun.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Paraben <br>Free</h4>
    </div>
    <div class="fs-cell {{ width }} text-center">
      <img src="{{ 'molecule-2.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Sulfate <br>Free</h4>
    </div>
    <div class="fs-cell {{ width }} fs-sm-hide text-center">
      <img src="{{ 'beaker.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Phthalate <br>Free</h4>
    </div>
    <div class="fs-cell {{ width }} text-center">
      <img src="{{ 'github.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Cruelty <br>Free</h4>
    </div>
    <div class="fs-cell {{ width }} text-center">
      <img src="{{ 'usa.svg' | asset_url }}" class="home-ingredients__icon" />
      <h4>Manufactured <br>in the USA</h4>
    </div>
  </div>
</div>