{% assign url = '/products/sonne-premium-skincare-membership' %}
<div class="home">

  <div class="carousel" data-carousel-options='{"pagination":false}'>
    {% capture source %}{"source":{"0px":"","740px":"{{ 'home2.jpg'  | asset_url }}"},"alt":"Background Image"}'{% endcapture %}
    <div class="home-hero background" data-background-options='{{ source }}'>
      <div class="home-hero-centered">
        <div class="fs-row">
          <div class="fs-cell fs-lg-hide fs-md-hide fs-sm-full">
            <img src="{{ 'SonneCare_Lifestyle2-2184.jpg'  | asset_url }}" class="img-responsive">
            <hr class="invisible compact">
          </div>
          <div class="fs-cell fs-xl-5 fs-lg-half fs-md-3 fs-sm-2 fs-sm-justify-center fs-xs-full">
            <hr class="invisible huge fs-sm-hide">
            <hr class="invisible huge fs-sm-hide">
            <div class="home-title emphasized">Future proof your skin.</div>
            <div class="home-subtitle emphasized">A skincare system developed by doctors and delivered to your door.</div>
            <a href="{{ url }}" class="button button-cta home-cta">Buy Now</a>
            <ul class="home-list">
              <li>Combats the #1 cause of skin aging</li>
              <li>Visible results reported in 6-8 days</li>
              <li>Vegan, No Parabens, Cruelty Free</li>
              <li>Manufactured in the USA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--problem">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-center">
        <div class="home-title">Being a human is hard.</div>
        <div class="home-subtitle">Especially when it comes caring for your skin.</div>
        <hr class="invisible">
      </div>
      <div class="fs-cell fs-cell-contained fs-all-third fs-sm-full">
        <div class="home-problem one js-tilt background" data-background-options='{"source":"{{ 'prob1.jpg'  | asset_url }}"}'>
          <div class="home-problem-content">
            <div class="home-problem-title"><span>1</span></div>
            <div class="home-problem-desc">
              <div>Skincare is necessary.</div>
              Your skin <em>is</em> aging. We assume you don’t want wrinkles or skin cancer. 
              And if your skin sees the sun at all (even on cloudy days), then you’re risking both.  
            </div>
          </div>
        </div>
      </div>
      <div class="fs-cell fs-cell-contained fs-all-third fs-sm-full">
        <div class="home-problem two js-tilt background" data-background-options='{"source":"{{ 'prob2.jpg'  | asset_url }}"}'>
          <div class="home-problem-content">
            <div class="home-problem-title"><span>2</span></div>
            <div class="home-problem-desc">
              <div>Skincare is confusing.</div>
              The skincare industry is saturated with myths and marketing gimmicks. 
              Forget not knowing where to start. It’s hard to know if products even work. 
              People spend big money on their best guess. Or get overwhelmed and do nothing. 
              Both are bad options. 
            </div>
          </div>
        </div>
      </div>
      <div class="fs-cell fs-cell-contained fs-all-third fs-sm-full">
        <div class="home-problem three js-tilt background" data-background-options='{"source":"{{ 'prob3.jpg'  | asset_url }}"}'>
          <div class="home-problem-content">
            <div class="home-problem-title"><span>3</span></div>
            <div class="home-problem-desc">
              <div>Skincare <br>takes work.</div>
              The beauty store. The drug store. The overwhelming online shop.
              The hunt for effective skincare shouldn’t be so complicated. 
              But it is. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--sol">
    <div class="home-section__content">
      <div class="fs-row">
        <div class="fs-cell fs-all-full">
          <div class="home-title text-center">Sonne makes it easy.</div>  
          <hr class="invisible">
        </div>
      </div>
      {% include 'home-sol' %}
    </div>
  </div>

  <div class="home-section home-section--hiw">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <div class="home-title text-center">How it works</div>  
      </div>
    </div>
    <hr class="invisible">
    {% include 'home-hiw' %}
  </div>

  <div class="home-section home-section--testimonials">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <div class="home-title text-center">What they’re saying about us</div>
        <hr class="invisible">
        <div class="quotes">
          <div class="quotes-wrapper carousel" data-carousel-options='{"controls":false,"autoAdvance":false,"single":false,"contained":false}'>
            {% include 'home-quote' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section home-section--cta background" data-background-options='{"source":"{{ 'SonneCare_Lifestyle2-2058.jpg'  | asset_url }}"}'>
    <div class="home-section__content">
      <div class="fs-row">
        <div class="fs-cell fs-lg-4 fs-lg-push-1">
          <div class="home-title">Get started today</div>  
          <a href="{{ url }}" class="button button-cta home-cta">Buy Now</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% include 'subscribe' %}