{% assign section_1 = 'Not all skincare is created equal.' %}
{% capture section_2 %}
  <div class="about-desc__title">Matt's Story</div>
  The closer he got to 30, the more Matt thought about his skin. He noticed his complexion looked a little dull, even tired. 
  Having never cared much about skincare in the past, Matt began to search for products for the first time. 
  Quickly overwhelmed by the options and prices at stores, he did what most of us do. He gave up. 
  Opting instead to use free products he had around. But after months of using gym freebies and 
  borrowing from his wife’s stash, he thought — surely there’s a better way. <br>
  That’s when he called Amir. 
{% endcapture %}
{% capture section_3 %}<div class="about-desc__title">Amir's Story</div>
  Hospital rotations made it impossible for Amir to ignore skin cancer’s prevalence. 
  During his last year of medical school, the number of cases he saw every day made him curious 
  about skin health and skin cancer. He dove head first into research. He read articles and spoke 
  with hospital dermatologists. The facts were there. Skin cancer is preventable. 
  Skin aging can be slowed. All you need is proper skincare. Fascinated by the amount of clear 
  information available, Amir went looking for products that met his criteria. <br>
  What he found instead were false promises, high prices, and harmful ingredients. 
  The skincare industry was full of treatments supported by no scientific evidence.<br>
  And that’s about the time Matt called. 
{% endcapture %}
{% capture section_4 %}<div class="about-desc__title">The Solution is the Sonne System</div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in arcu eu velit tincidunt semper ut id turpis. Sed bibendum nisl vitae sem cursus auctor. Vivamus eu magna sed nisi consectetur eleifend vitae sit amet nisi.' {% endcapture %}
{% assign section_5 = '' %}
{% assign section_6 = '' %}
{% assign section_7 = '' %}

<div class="page page-about about">

  <div class="about-tabs">
    <div class="fs-row text-center">
      <div class="fs-cell fs-lg-2 fs-lg-push-4 fs-md-fourth fs-md-push-fourth fs-sm-fourth fs-sm-push-fourth">
        <div class="about-tabs__tab"><a class="active" href="/pages/about">Brand Story</a></div>
      </div>
      <div class="fs-cell fs-lg-2 fs-md-fourth fs-sm-fourth">
        <div class="about-tabs__tab"><a href="/pages/about-mission">Our Mission</a></div>
      </div>
    </div>
  </div>

  <div class="about-hero about-hero-main background" data-background-options='{"source":"{{ 'about-top.jpg'  | asset_url }}"}'>
    <div class="about-hero-centered">
      <div class="fs-row">
        <div class="fs-cell fs-lg-8 fs-md-5 fs-sm-3 fs-all-justify-center">
          <div class="about-desc emphasized text-center">{{ section_1 }}</div>
          <div class="about-desc text-center">
            Skeptical of skincare companies? Us too. 
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="about-section about-section--matt">
    <div class="fs-row">
      <div class="about-section__cell main fs-cell">
        <div class="about-centered">
          <div class="fs-cell fs-lg-8 fs-md-5 fs-contained fs-all-justify-center">
            <div class="about-desc text-center">
              Long before we started Sonne, we were just golfing buddies looking for skincare products we could trust. 
              Our search led us to discover that no single product met our standards.
              So we made one that did.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="about-section about-section--matt">
    <div class="fs-row">
      <div class="about-section__cell fs-cell fs-lg-half fs-md-half fs-sm-full">{{ 'matt.jpg'  | asset_url | img_tag, 'Matt Jung', 'img-responsive' }}</div>
      <div class="about-section__cell fs-cell fs-lg-half fs-md-half fs-sm-full">
        <div class="about-centered">
          <div class="fs-cell fs-lg-8 fs-md-5 fs-contained fs-all-justify-center">
            <div class="about-desc">{{ section_2 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="about-section about-section--amir">
    <div class="fs-row">
      <div class="about-section__cell fs-cell fs-lg-half fs-md-half fs-sm-full fs-lg-last">{{ 'amir.jpg'  | asset_url | img_tag, 'Matt Jung', 'img-responsive' }}</div>
      <div class="about-section__cell fs-cell fs-lg-half fs-md-half fs-sm-full">
        <div class="about-centered">
          <div class="fs-cell fs-lg-8 fs-md-4 fs-contained fs-all-justify-center">
            <div class="about-desc">{{ section_3 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="about-section about-section--solution relative">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        {{ 'easy2.jpg'  | asset_url | img_tag, 'Matt Jung', 'img-responsive' }}
      </div>
    </div>
    <div class="about-centered">
      <div class="fs-row">
        <div class="fs-cell fs-lg-5 fs-lg-push-1 fs-md-half fs-sm-full">
          <div class="about-desc">{{ section_4 }}</div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="about-section about-section--cta home">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-center">
        <hr class="invisible big">
        <div class="home-title">Future proof your skin.</div>
        <div class="home-subtitle">The doctor-developed skincare system delivered to your door.</div>
        <a href="#" class="button button-cta home-cta">Buy Now</a>
        <hr class="invisible big">
        </div>
    </div>
  </div>

</div>


