{% assign content = page.content | split: '<hr>' %}

<div id="page" class="page page-{{ page.handle }} skin">
  <div class="page-header nobottom">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <h2 class="page-header__title">{{ page.title }}</h2>
        <h3 class="page-header__subtitle">What everyone should know about skincare</h3>
      </div>
    </div>
  </div>

  <div class="skin-content skin-content__section1">
    <div class="fs-row">

      <div class="fs-cell fs-lg-5 fs-md-6 fs-sm-3 fs-all-justify-center">
        <img src="{{ 'grid.png' | asset_url }}" class="img-responsive noshadow" />
      </div>

      <hr class="invisible fs-all-full">

      <div class="fs-cell fs-lg-6 fs-md-6 fs-sm-3">
        {{ content[0] }}
      </div>

      <hr class="divider compact fs-lg-hide fs-md-full fs-sm-full">

      <div class="fs-cell fs-lg-6 fs-md-6 fs-sm-3">
        {{ content[1] }}
      </div>

    </div>
  </div>

  <div class="skin-content skin-content__section1">
    <div class="fs-row">
      <div class="fs-cell fs-lg-6 fs-md-6 fs-sm-3 fs-lg-align-center fs-md-align-center fs-last fs-md-first">
        <img src="{{ 'prevent.jpg' | asset_url }}" class="img-responsive" />
      </div>
      <div class="fs-cell fs-lg-6 fs-md-6 fs-sm-3 fs-sm-last fs-lg-first">
        {{ content[2] }}
      </div>
    </div>
  </div>

  <div class="hero hero-feature background product" data-background-options='{"source":"{{ 'backgorund.jpg' | asset_url }}"}'>
    <hr class="invisible big">
    <div class="fs-row hero-content">
      <div class="fs-cell fs-all-full text-center">
        <h2 class="product-section-title nomargin">Become a Member Today</h2>
        <h4 class="product-section-subtitle">We think you'll really enjoy it.</h4>
        <a class="product-add button button-cta nomargin" href="/products/sonne-premium-skincare-membership">
          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </a>
      </div>
    </div>
    <hr class="invisible big">
  </div>

</div>