{% capture skin_1 %}
<h4>The skinny.</h4>
Skin is our largest organ, and one of the most important parts of our body. Skin has three full-time gigs: protecting, regulating temperature, and feeling. 
{% endcapture %}

{% capture skin_2 %}
<h4>Protecting</h4>
There are high levels of gross (bacteria, viruses, and more) floating around outside and, sorry, landing on you. Your skin’s job is to stop this junk from entering your body. 
{% endcapture %}

{% capture skin_3 %}
<h4>Regulating Temperature</h4>
Skin regulates our body temperatures so we don’t overheat or freeze. Sweat glands release water to lower our temperature and retain water when we need to warm up. 
{% endcapture %}

{% capture skin_4 %}
<h4>All The Feels</h4>
Without skin, we couldn’t sense touch. Holding hands, a spring breeze, your favorite sweater - all pretty lame without skin. Nerve receptors in your skin allow you to feel. 
Basically, skin rides hard for us. We should try harder to return the favor.
{% endcapture %}

<div class="page page-account account skin fs-grid-fluid">

  <div class="fs-row">
    <div class="page-header fs-cell text-center noborder nobottom">
      <div class="page-title">{{ page.title }}</div>
    </div>
  </div>

  <div class="fs-row">
    <div class="fs-cell fs-all-full fs-contained">
      <div class="skin-wrapper skin-wrapper-1">
        <div class="skin-carousel carousel" data-carousel-options='{"show":2.25,"pagination":false}'>
          <div class="skin-carousel-slide">{{ skin_1 }}</div>
          <div class="skin-carousel-slide">{{ skin_2 }}</div>
          <div class="skin-carousel-slide">{{ skin_3 }}</div>
          <div class="skin-carousel-slide">{{ skin_4 }}</div>
        </div>
      </div>
    </div>
  </div>

</div>