<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

<div class="product">
  <div class="product-hero">
    <div class="product-hero-centered">
      <div class="fs-row">
        <div class="fs-cell fs-xl-4 fs-xl-push-8 fs-lg-5 fs-lg-push-7">
          <hr class="invisible huge">
          <div class="product-title">The Sonne System <br>Morning & Evening</div>
          <div class="product-subtitle">$45/month</div>
          <form action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}">
            {% if product.available %}{% include 'subscription-product' %}{% endif %}
            <select name="id" id="productSelect" data-productid="{{product.id}}">
              {% for variant in product.variants %}
              {% if variant.available == true %}
              <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
              {% else %}
              <option disabled="disabled"> {{ variant.title }} - sold out!</option>
              {% endif %}
              {% endfor %}
            </select>
            <button type="submit" name="add" id="AddToCart" class="product-add button button-cta product-cta">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </form>
          <ul class="product-list">
            <li>Delivered Monthly</li>
            <li>Visible Results Reported In 6-8 Days</li>
            <li>Free Shipping</li>
            <li>Cancel Anytime</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}
    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>